<h1>コンベンションセンターへようこそ</h1>
<p><%= request.remote_ip %></p>
<table class="idols_table">
<% @idols.each_slice(4) do |idol_row| %>
    <tr class="idol_row">
    <% idol_row.each do |idol| %>
        <td class="id_cell">
            <a href="<%= url_for controller: 'idols', action: 'show',
            id: idol.id %>">
                <div class="idol_img_wrap">
                    <img src="<%= idol.icon_url %>" alt="<%= idol.name %>" />
                </div>
                <div class="idol_name"><%= idol.name %></div>
            </a>
        </td>
    <% end %>
    </tr>
<% end %>
</table>