<h1><%= @idol_thread.name %></h1>
<% @responses.each do |res| %>
<div class="response">
  <div class="res_header">
    <span class="res_no"><%= res.res_no %></span>
    <span class="res_date">
      <% if res.deleted %>
        (削除済み)
      <% else %>
        <%= res.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
      <% end %>
    </span>
    <% if if session[:uid] %>
    <% report = Report.new
    report.thread_response = res %>
    <%= form_with model: report do |form| %>
    <%= form.hidden_field :thread_response_id %>
    <%= form.submit '通報' %>
    <% end %>
    <% end %>
  </div>
  <div class="res_body">
    <% if res.deleted %>
    削除されました
    <% else %>
    <%= simple_format(h(res.content)) %>
    <% end %>
  </div>
</div>
<% end %>
<% if session[:uid] && @responses.length < 1000 %>
<%= form_with model: @thread_response, url: [
  @idol, @idol_thread, @thread_response] do |form| %>
  <p><label>コンテンツ<br /><%= form.text_area :content %></label></p>
  <p><%= form.submit '書き込む' %></p>
<% end %>
<% end %>