<h1><%= @idol.name %></h1>
<ul class="threads_list">
<% @threads.each do |idol_thread| %>
    <li><%= link_to idol_thread.name, controller: 'idol_threads',
    action: 'show', idol_id: @idol.id, id: idol_thread.id %></li>
<% end %>
</ul>
<% if @can_create_thread && session[:uid] %>
<%= form_with model: @idol_thread, url: [@idol, @idol_thread] do |form| %>
    <p><label>スレッド名:<%= form.text_field :name %></label></p>
    <p><%= form.submit 'スレッド作成' %></p>
<% end %>
<% end %>