<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>

<% if ENV['FACEBOOK_APP_ID'] %>
    <meta property="og:site_name" content="コンベンションセンター" />
    <meta property="og:title" content="<%= @title %>" />
    <% if controller.controller_name == 'top' && controller.action_name == 'index' %>
    <meta property="og:type" content="website" />
    <% else %>
    <meta property="og:type" content="article" />
    <% end %>
    <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>" />
    <meta property="og:locale" content="ja_JP" />
<% end %>
<% if ENV['GOOGLE_ANALYTICS_TRACKING_ID'] %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS_TRACKING_ID'] %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= ENV['GOOGLE_ANALYTICS_TRACKING_ID'] %>');
</script>
<% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page_header">
      <% if session[:uid] %>
        <%= session[:display_name] %>さんとしてログイン中
        <%= link_to 'ログアウト', controller: 'login', action: 'logout' %>
      <% else %>
        <%= link_to 'ログイン', controller: 'login', action: 'index' %>
      <% end %>
    </header>
    <% if flash[:error_msg] %>
    <div class="error"><%= flash[:error_msg] %></div>
    <% end %>
    <% if flash[:notice_msg] %>
    <div class="notice"><%= flash[:notice_msg] %></div>
    <% end %>
    <%= yield %>
    <footer class="page_footer">
      <%= link_to 'プライバシーポリシー', controller: 'privacy', action: 'index' %>
      <%= link_to '利用規約', controller: 'terms', action: 'index' %>
    </footer>
  </body>
</html>
